@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bebas+Neue&family=Tangerine:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Telugu:wght@300&family=Tangerine:wght@700&display=swap');

body{
    background-color: #faf1e9;
    font-family: Tangerine, sans-serif;
    font-weight: 700;
    font-size: 250%;
    color: #AE8E59;

}



/* heading and logo*/

#logo {
    float: left;
    width: 15%;
}


 /* navigation */

 #menu {
    font-family: "Bebas Neue", serif;
    font-size: 50%;
    float: right;
    color: #42250F;
    letter-spacing: .1vw;    
 } 

 #menu, #logo {
    line-height: 100px;
 
  }
 
  #menu li {
    float: left;
    list-style-type: none;
    margin-right: 55px;
  }
 
  /* links */

a {
    text-decoration: none;
    color: #42250F;
  }
 
a:hover {
    border-bottom: 1px solid #42250F;
  }
 
.active {
    border-bottom: 1px solid #42250F;
  }

  

/* slider */

.slider {
  width: 50vw;
  height: 70vh;
  border-radius: 35%;
  border-width: 15px;
  border-style: groove;
  border-color: #42250F;
  background-size: 100% 100%;
  margin: 5% 15% 30% 7%;
  box-shadow: 3px 5px 10px 15px #AE8E59;
  animation: slider 14s infinite linear;
}

@keyframes slider{
  0%{background-image: url(../images/Happy\ 100th\ birthday.jpg);}
  35%{background-image: url(../images/tshirt.jpg);}
  45%{ background-image: url(../images/promotional02.jpg);}
  75%{ background-image: url(../images/promotional.jpg);}
  90%{ background-image: url(../images/business\ cards\ ALL.jpg);}


}

/* button */

.button {
  background-color: #42250F;
  border: none;
  border-radius: 25% 0%;
  padding: 15px;
  color: #AE8E59;
  text-align: center;
  text-decoration: none;
  font-size: 80%;
}

#view-work {
  position: absolute;
  right: 20vw;
  top: 72vh;
}

#hire-me {  
  position: absolute;
  right: 5vw;
  top: 78vh;

}

 /* home page text */

 #portfolio-text {
  width: 25vw;
  height: 55vh;
  float: right;
  font-size: 2.5vw;
  line-height: 8vh;
  margin: 3% 4% 30% 90%;
 }

 /* footer */

.contacts {
    width: 35%;
    font-size: 1.8vw;
    position: absolute;
    margin-top: -35%;
    margin-left: 74%;
    float: left;
}

.font-number {
  font-family: "Bebas Neue", Tangerine, sans-serif;
  font-weight: 100;
  font-size: 1.2vw;
}

/* gallery job-sample*/
#job-sample {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;

  animation-name: job-sample;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for job-sample */
@keyframes job-sample {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}

#job-sample > img {
  width: 100%;
}