@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tangerine:wght@700&display=swap');

body{
    font-family: Tangerine, sans-serif;
    font-weight: 700;
    font-size: 250%;
    color: #AE8E59;

}



/* heading and logo*/

#logo {
    float: left;
}


 /* navigation and links */

 #menu {
    font-family: "Bebas Neue", serif;
    font-size: 50%;
    float: right;
    color: #42250F;    
 } 

 #menu, #logo {
    line-height: 100px;
 
  }
 
  #menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
  }
 
  #menu a {
    text-decoration: none;
    color: inherit;
  }
 
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
 
  .active {
    border-bottom: 1px solid #3a3a3a;
  }

  /* images and body */

#job-sample {
  width: 15%;
  bottom: 20%;
  right: 85%;
  position: absolute;
}